<html>
  <head>

  </head>
  <body>
    <div class="blog col-lg-12">
    <% @blogs.each do |blog| %>
    <div><% blog.image %></div>
    <h2 class="blog-title"><%= link_to blog.title, blog, class: "blog-title blog-links" %></h2>
    <h5 class="blog-body"><%= truncate(blog.body, :length => 10) %></h5>
    <br>
    <% if current_user.try(:email) == "sbhenrichs@gmail.com" %>
      <%= link_to "Delete Blog", blog_path(@blog), method: :delete, data: { confirm: "Are you freaking? Don't screw up." } %>
    <% end %>
    <% end %>
    </div>
  </body>
</html>
