<html>
  <head>

  </head>
  <body>

    <% @blogs.each do |blog| %>
    <div class="blog col-lg-12">
    <h3 class="blog-title"><%= link_to blog.title, blog, class: "blog-title blog-links" %></h3>
    <h5 class="blog-body"><%= truncate(blog.body, :length => 100) %></h5>
    <% if current_user.try(:email) == "sbhenrichs@gmail.com" || "camblackwell2@gmail.com" %>
      <%= link_to "Delete Blog", blog_path(blog), method: :delete, data: { confirm: "Are you sure? Don't screw up." } %>
    <% end %>
    </div>
    <% end %>

  </body>
</html>
