<html>
  <head>
    <title>Let's make shopping a little lucky.</title>
  </head>
  <body>

  </body>

  <div class="jumbotron">
    <h1>Welcome to rewardsApp. We're glad you're here.</h1>
    <p>Want to sign up? Click here. If you want to get started, keep scrolling.</p>
    <p><a class="btn btn-success btn-lg">Learn more</a></p>
  </div>
</html>
