<html>
  <head>

  </head>
  <body>
    <h2>You want to talk to us? We're flattered.</h2>
    <h4>We hate contact forms, so we decided not to make one for our website. Instead, you can email us at info@avacadorewards.com. When you do, we can answer any of your questions, like:</h4>
    <br>
    <ul>
      <li><h4>How to sign up</h4></li>
      <li><h4>How to join the rewards</h4></li>
      <li><h4>Our favorite color (green)</h4></li>
      <li><h4>And how we made such a cool site. We'd be happen to fill you in.</h4></li>
    </ul>
  </body>
</html>
