<html>
  <head>

  </head>
  <body>
    <h3>You want to talk to us? We're flattered.</h3>
    <h5>We hate contact forms, so we decided not to make one for our website. Instead, you can email us at info@avacadorewards.com. When you do, we can answer any of your questions, like:</h5>
    <br>
    <ul>
      <li><h5>How to sign up</h5></li>
      <li><h5>How to join the rewards</h5></li>
      <li><h5>Our favorite color (green)</h5></li>
      <li><h5>And how we made such a cool site. We'd be happen to fill you in.</h5></li>
    </ul>
  </body>
</html>
