<html>
  <head>

  </head>
  <body>
    <% if current_user.try(:email) == "sbhenrichs@gmail.com" %>
    <h3 class="text-success">Users:</h3>
    <table class="table table-striped table-hover">
      <tr>
        <td>
          <% @user = User.all %>
          <% @user.each do |user| %>
            <%= user.email %> <br>
          <% end %>
        </td>
      </tr>
    </table>
    <% end %>
  </body>
</html>
