<html>
  <head>

  </head>
  <body>
    <% if current_user.try(:email) == "sbhenrichs@gmail.com" %>
    <h3 class="text-success">Signed-Up Users:</h3>
    <table class="table table-striped table-hover">
      <tr>
        <td>
          <% @join = Join.all %>
          <% @join.each do |join| %>
            <%= join.email %> <%= link_to "Delete Joined User", join_path(join), method: :delete, data: { confirm: "Are you sure? Don't screw up." } %><br>
          <% end %>
        </td>
      </tr>
    </table>
    <% else %>
    <h3>Thanks for signing up! You'll get an email at the end of the month letting you know if you won.</h3>
    <% end %>
  </body>
</html>
