<html>
  <head>

  </head>
  <body>
    <% if current_user.try(:admin?) %>
    <h3 class="text-success">Signed-Up Users:</h3>
    <table class="table table-striped table-hover">
      <tr>
        <td>
          <% @join = Join.all %>
          <% @join.each do |join| %>
            <%= join.email %> <br>
          <% end %>
        </td>
      </tr>
    </table>
    <% end %>
  </body>
</html>
