<nav class="navbar navbar-default">
<div class="container-fluid">
<div class="navbar-header">
  <a class="navbar-brand" href="/joins/new">Yeti Rewards</a>
</div>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <ul class="nav navbar-nav">
    <li><a href="/joins/new">Home</a></li>
    <li><a href="/home/howitworks">How It Works</a></li>
    <li><a href="/blogs">Blog</a></li>
    <li><a href="/home/contactus">Contact Us</a></li>
    <% if current_user.try(:email) == "sbhenrichs@gmail.com" %>
    <li><a href="/joins/show">Joined Users</a></li>
    <li><a href="/home/list">Signed-Up User</a></li>
    <li><a href="/blogs/new">Create Blog</a></li>
    <% end %>
    <div class="dropdown-toggle"></div>
  </ul>
  <ul class="nav navbar-nav navbar-right">
   <% if user_signed_in? %>
     <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
     <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
   <% else %>
     <li><%= link_to "Sign Up", new_user_registration_path %></li>
     <li><%= link_to "Sign In", new_user_session_path %></li>
   <% end %>
 </ul>
</div>
</div>
</nav>
